.top-header-bar .pointer {
  cursor: pointer;
}

.top-header-bar .extra-small {
  font-size: 11px;
}

.top-header-bar img {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.top-header-bar img:hover {
  opacity: 0.9;
}